[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
jupyterlab = "*"
notebook = "*"
plotly = "*"
nltk = "*"
spacy = "*"
vadersentiment = "*"
bertopic = "*"
gensim = "*"
openai = "==0.28"
streamlit = "*"
python-dotenv = "*"
watchdog = "*"
dill = "*"

[dev-packages]

[requires]
python_version = "3.11"
